<h1>You are in the hallway</h1>

<h3>There is a hobo here.....</h3>
<h5>....And a key.... </h5>
<form class="" action="/add_item" method="post">
  <button type="submit" name="button">Pick Up!</button>
</form>
